<div class="">
    <a *ngFor="let guild of guilds" (click)="onSelect(guild)">
        <div class="guild">
            <div class="table">
                <div class="table-cell">
                    {{guild.name}}
                </div>
            </div>
        </div>
    </a>

    <a>
        <div class="guild" (click)="CreateGuild()">
            <div class="table">
                <div class="table-cell">
                    CREATE
                </div>
            </div>
        </div>
    </a>
</div>