<div>
  <ng-template [ngIf]="!channel" [ngIfElse]="loaded">
    <app-loading class="col-12"></app-loading>
  </ng-template>

  <ng-template #loaded>
    <div #chatBox class="overflow-auto chatbox">
      <div class="container">
        <div class="row">
          <h3 class="col-12 text-center chat_header">Chat Application - {{channel.name}}</h3>
          <!-- <ng-template [ngIf]="!connected">
            <app-loading class="col-1"></app-loading>
            <div class="col-11 alert alert-danger" role="alert">
              Lost connection! Trying to reconnect...
            </div>
          </ng-template> -->
          <div class="chat">
            <div>
              <div *ngFor="let msg of messages; let i = index">
                <div (mouseenter)="onHover(i)" (mouseleave)="onHover(-1)">
                  <div *ngIf = "i == hoverIndex" class="">{{msg.createdAt | date:'full'}}</div>
                  <div class=""><b>{{msg.name}}</b> {{msg.content}}</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="type_msg">
      <div class="input_msg_write">
        <input type="text" class="write_msg" [value]="txtMessage" (input)="txtMessage=$event.target.value"
          (keydown.enter)="sendMessage()" placeholder="Type a message" />
        <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o"
            aria-hidden="true"></i>Send</button>
      </div>
    </div>
  </ng-template>
</div>