<form [formGroup]="guildForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Create a channel</label>
        <input type="text" formControlName="name" class="form-control" placeholder="CreativeChannelname"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback"> 
            <div *ngIf="f.name.errors.required">A channel name is required</div>
        </div>
        
        <select formControlName="type">
            <option value="" disabled>Choose your channel type</option>
            <option *ngFor="let r of channelTypes" [value]="r">
                {{r}}
            </option>
         </select>
         <div *ngIf="submitted && f.type.errors?.required" class="invalid-feedback"> 
            Please enter your channel type
         </div>
    </div>
    <ng-template [ngIf]="errorText">
        <div class="alert alert-danger" role="alert">
            {{errorText}}
        </div>
    </ng-template>
    <button mat-button class="btn btn-primary" mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="btn btn-primary">Submit</button>
</form>