<div class="row">
    <ng-template [ngIf]="!guild" [ngIfElse]="loaded">
        <app-loading class="col-12"></app-loading>
    </ng-template>
    <div class="col-sm-2 channels bar">
    <ng-template #loaded>
        <div class="col-sm-2 channels bar">
            <div class="name col-12">
                <a (click)="GuildSettings()">{{guild.name}}</a>
            </div>
            <app-channels></app-channels>
        </div>
        <div class="col-sm-8 chat bar">
            <app-chatview [channel]="targetTextChannel"></app-chatview>
        </div>
        <div class="col-sm-2 userlist bar">
            <app-userlist></app-userlist>
        </div>
    </ng-template>
</div>