<div class="row">
    <ng-template [ngIf]="!guild" [ngIfElse]="loaded">
        <app-loading class="col-12"></app-loading>
    </ng-template>
    <ng-template #loaded>
        <div class="name col-12 guildbar">
            <a (click)="guildSettings()">{{guild.name}}</a>
        </div>
        <div class="col-sm-2 channels">
            <app-channels (selectedChannel)=selectChannel($event)></app-channels>
        </div>
        <div class="col-sm-8 chat bar">
            <app-chatview [channel]="targetTextChannel"></app-chatview>
        </div>
        <div class="col-sm-2 userlist bar">
            <app-userlist></app-userlist>
        </div>
    </ng-template>
</div>